
button:hover{
    background-color:#9e4092
}
.mybtn{
    background-color:#e36eaa
}
.myform{
  width:400px;
/* margin:auto; */
border:2px solid silver;
min-height:200px;
flex-shrink: 0;
justify-content:center
}
.myFiled{
width:100%
}
.myHorizentalForm{
  width:50%;
  border:2px solid silver;
}
.myPostButton{
  background-size: cover;
  background-posiotion:center center;
  background-repeat:no-reapet;
  border:2px solid silver;
  border-radius:50%;
  margin:10px;
}
.mypost{
  background-color:silver
}
.myMenu{
  border-radius: 20px 0px 0 20px 

  
}



